<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{MyDefaultValue}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          fill="outline"
          shape="round"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div class="grey-line"></div>

<ion-content>
  <div class="title">
    <ion-text>About CPR Insurnces</ion-text>
  </div>
  <div class="text">
    <ion-text
      >CPR Insurance Group, LLC, licensed by the Texas Department of Insurance,
      is an independent claim adjusters and administrators company, providing
      innovative resolution strategies to insurance companies, self-insured
      corporations, governmental entities, insurance agents and
      brokers.</ion-text
    >
  </div>
  <div class="text">
    <ion-text
      >Our company is headquartered in Irving, Texas, with partner locations in
      Louisiana and Oklahoma. CPR handles all major areas of insurance claims
      including auto, property, and casualty.</ion-text
    >
  </div>
  <ion-img class="map" src="assets/map.png"></ion-img>
  <div class="text">
    <ion-text
      >We have professional teams on staff for those clients in need of a
      complete TPA outsourcing solution or we can provide adjusters for the
      field for clients in need of a professional field solution. Our
      experienced TPA team will manage 100% of your claims needs from initial
      loss notice to final closure including custom financial and statistical
      reporting.</ion-text
    >
  </div>
  <div class="text"></div>
</ion-content>
