<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{MyDefaultValue}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"

          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div class="grey-line"></div>

<ion-content>
  <div class="title">
    <ion-text translate>company.header</ion-text>
  </div>
  <div class="text">
    <ion-text translate
      >company.text_1</ion-text
    >
  </div>
  <div class="text">
    <ion-text translate
      >company.text_2</ion-text
    >
  </div>
  <ion-img class="map" src="assets/map.png"></ion-img>
  <div class="text">
    <ion-text
      translate>company.text_3</ion-text
    >
  </div>
  <div class="text"></div>
</ion-content>
