ion-header {
    ion-toolbar{
      ion-img{
        margin-right: 20%;
      }
    }
  }
  .title{
    padding: 3%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
 }

 .text{
    padding: 3%;
    text-align: left;
 }

ion-img.map{
    padding: 3%;
 }