ion-header {
    ion-toolbar{
      ion-img{
        padding-left: 10%;
        padding-right: 20%;
        align-items: center;
      }
    }
  }

ion-card.text {
    margin-inline: 20px;
    margin-top: 15px;
    border-radius: 5%;
    background-color: #e7f1fc;
    padding: 5%;
    ion-card-title {
      text-align: start;
      font-size: medium;
      font-family: "poppins";
      font-style: normal;
      font-weight: normal;
    }
    ion-card-subtitle {
      text-align: start;
      font-size: small;
      font-family: "poppins";
      font-style: normal;
      font-weight: normal;
    }
  }

.sheet{
    margin-inline: 20px;

}
  ion-button{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #fe524d;
    border-radius: 10px;
  }