.new-background-color ion-list {
  background: #e5ebf1;
  ion-item {
    --background: #e5ebf1;
  }
  ion-item.title {
    font-family: "poppins";
    font-size: large;
    font-weight: bold;
  }
  ion-item.sub_title {
    font-family: "poppins";
    font-size: small;
    font-weight: lighter;
  }
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header {
  display: flex;
  orientation: vertical;
  --background: #e5ebf1 !important;
}

.custom-button {
  margin-top: 40px;
  color: #fe524d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #fe524d;
  padding: 5px;
  text-align: left !important;

}

.custom-button ion-icon {
  font-size: 30px;
}



.contact_text {
  font-family: "poppins";
  font-size: large;
  font-weight: bold;
  padding: 15px;
  line-height: 24.3px;
  word-wrap: break-word;
}
span.ion-text-left {
  margin-right: auto;
  color: #000;
  font-family: "poppins";
  font-size: medium;
  font-weight: bold;
  line-height: 24.3px;
  text-transform: none;
}