<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
     
        <ion-buttons>
          <ion-back-button defaultHref="/tabs/dashboard" icon="assets/back_button.svg"></ion-back-button>
        </ion-buttons>
    
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{languageService.selectedLanguage}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code">
            <ion-icon name="add-circle-outline"></ion-icon>
            {{lang.title}}
            </ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="new-background-color">
    <ion-list>
      <ion-item class="title" lines="none" translate>
        dashboard.Title
      </ion-item>
      <ion-item lines="none" translate class="Sub_title">
        dashboard.Sub_Title
      </ion-item>
    </ion-list>
  </div>

  <ion-button fill="outline" expand="full" shape="round" class="custom-button">
    <ion-icon name="heart" slot="start"></ion-icon>
    (855) 215-6439
  </ion-button>
  <ion-button  fill="outline" expand="full" shape="round" class="custom-button">
    <ion-icon name="star" slot="start"></ion-icon>
    newclaims@cprins.com
  </ion-button>
</ion-content>



<!-- <ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-back-button icon="assets/company.svg" defaultHref="/tabs/dashboard"></ion-back-button>
      <ion-img class="logo" src="assets/cpr_logo.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button>
    <ion-icon slot="start" src="assets/submit_claim.svg"></ion-icon>
    ccc

  </ion-button>
</ion-content> -->
