.new-background-color ion-list {
  background: #e5ebf1;
  ion-item {
    --background: #e5ebf1;
  }
  ion-item.title {
    font-family: "poppins";
    font-size: large;
    font-weight: bold;
  }
  ion-item.sub_title {
    font-family: "poppins";
    font-size: small;
    font-weight: lighter;
  }
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header {
  display: flex;
  orientation: vertical;
  --background: #e5ebf1 !important;

}


.custom-button {
  color: #FE524D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.custom-button ion-icon {
  font-size: 20px;
}

.button-text {
  text-align: left;
}
