<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{MyDefaultValue}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          fill="outline"
          shape="round"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>

<ion-content [fullscreen]="true">
  <div class="content">
<ion-label class="page_title">Additional Claim Resources</ion-label><br>
<ion-label>Please contact us from the scene if possible</ion-label>

<ion-button expand="block" fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Fire Department</ion-text>
</ion-button>

<ion-button expand="block" fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Hospitals</ion-text>
</ion-button>


<ion-button expand="block"  fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Police</ion-text>
</ion-button>


<ion-button expand="block"  fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">911</ion-text>
</ion-button>

</div>
</ion-content>
