<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
     
        <ion-buttons>
          <ion-back-button defaultHref="/tabs/resources" icon="assets/back_button.svg"></ion-back-button>
        </ion-buttons>
    
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{languageService.selectedLanguage}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          interface="popover"
        >

          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code">
            <ion-icon name="add-circle-outline"></ion-icon>
            {{lang.title}}
            </ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>

<ion-content [fullscreen]="true">
  <div class="content">
<ion-label class="page_title" translate>emergency_services.header</ion-label><br>
<ion-label translate>emergency_services.header</ion-label>

<ion-button expand="block" fill="clear"(click)="openbrowser('fire')">
  <ion-icon slot="start" name="flame-outline"  size="large"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>emergency_services.fire</span>

</ion-button>

<ion-button expand="block" fill="clear" (click)="openbrowser('hospital')">
  <ion-icon slot="start"  name="medkit-outline"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>emergency_services.hospital</span>

</ion-button>


<ion-button expand="block"  fill="clear" size="large" (click)="openbrowser('police')">
  <ion-icon slot="start" name="business-outline"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>emergency_services.police</span>

</ion-button>


<ion-button expand="block"  fill="clear" size="large">
  <ion-icon slot="start" name="shield-outline"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>emergency_services.911</span>

</ion-button>

</div>
</ion-content>
