<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{languageService.selectedLanguage}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>
<ion-content [fullscreen]="false">
  <div class="content">
<ion-label class="page_title" translate>add_resource.header</ion-label><br>
<ion-label translate>add_resource.header_subtitle</ion-label>

<ion-button expand="block" fill="clear" size="large" class="button" (click)="openbrowser('tow')">
  <ion-icon size="large" slot="start" src="assets/tow.svg"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>add_resource.tow_btn</span>
</ion-button>


<ion-button expand="block" fill="clear" size="large" routerDirection="forward" [routerLink]="['/tabs/resources/emergency-services']" class="button">
  <ion-icon size="large" slot="start" src="assets/sos.svg"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>add_resource.emergency_btn</span>
</ion-button>


<ion-button expand="block"  fill="clear" size="large" class="button">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>add_resource.share_btn</span>
</ion-button> 


<ion-button expand="block"  fill="clear" size="large" class="button">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <span  class="ion-text-left" style="text-transform: none; color: #000;" translate>add_resource.refer_btn</span>
</ion-button>

</div>
</ion-content>
