<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img src="assets/logo.png" alt=""></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
<ion-label class="page_title">Additional Claim Resources</ion-label><br>
<ion-label>Please contact us from the scene if possible</ion-label>

<ion-button expand="block" fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Towing Services</ion-text>
</ion-button>

<ion-button expand="block" fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Emergency Services</ion-text>
</ion-button>


<ion-button expand="block"  fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Share App</ion-text>
</ion-button>


<ion-button expand="block"  fill="clear" size="large">
  <ion-icon slot="start" src="assets/gp.svg"></ion-icon>
  <ion-text style="text-transform: none; color: #000;">Refer a Friend</ion-text>
</ion-button>

</div>
</ion-content>
