ion-tabs{
   ion-tab-bar{
    margin-bottom: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 1px solid rgb(163, 163, 163);
    ion-tab-button{
        margin-top: 10px;
    }
   }
}
.color-red{
  color:#FE524D;
}

.color-grey{
  color:#C8C8C8;
}
