<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-header>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
        <ion-img src="assets/logo.png"></ion-img>
      </ion-buttons>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="text">
    <ion-card-title>
      We are sorry for your accident and we are here to provide immediate
      assistance.
    </ion-card-title>
    <p></p>
    <ion-card-subtitle>
      Our qualified claim intake staff is available 24/7/365 to take your loss
      and begin the process towards resolution. Our goal is to get your life
      back to normal as quickly as possible. Please use one of the options
      below to provide us with as much information as possible so we can
      quickly and accurately manage your claim.
    </ion-card-subtitle>
  </ion-card>
  
  <div class="sheet">
    <ion-text style="font-size: x-large; font-weight: 700">Important Tips</ion-text><br>
  <ol>
    <li> Do not sign any documents unless it's for the police</li>
    <li> Record voice notes including damages, injuries, witness and what happened</li>
    <li> Record name of other drivers</li>
    <li> Don't tell anyone the accident was your fault even if you think it was</li>
    <li> Be careful to state on the facts, not what you think happened.</li>
  </ol>
  </div>


</ion-content>
