.stepper {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 20px;
}

.header {
  display: flex;
  orientation: vertical;
  --background: #ffffff;
}
.lang-sel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.grey-line {
  background: rgb(196, 196, 196, 0.3);
  height: 0.1%;
  width: 80%;
  align-self: center;
  margin-left: 10%;
}

.record_audio {
  color: #828282;
  border-radius: 5px;
  padding: 3px;
  border: 0.5px solid #828282;
  margin-top: 2%;
}
.stepperr_title {
  color: #201e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
  font-family: Poppins;
  margin-bottom: 3%;
}
.second_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
}
.third-label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  text-transform: capitalize;
  margin-top: 5%;
  margin-bottom: 2.5%;
}
.black_line {
  height: 1px !important;
  margin-top: 3%;
  margin-bottom: 5%;
  align-self: center;
  position: relative;
  border-top: 0.01px solid rgb(189, 189, 189);
}
.label_text_policy {
  width: 80% !important;
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-top: 6px;
}
.label_text_accident {
  width: 80% !important;
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-top: 6px;
  margin-bottom: 17px !important;
}
.label_text {
  color: #201e1e !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  text-transform: capitalize;
  margin-top: 7% !important;
}

.label_text_radio {
  color: #201e1e !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  text-transform: capitalize;
  margin: bottom 100px !important;
}
ion-input {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding-left: 10px !important;
}
.location {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding-left: 10px !important;
}
.location_accident {
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding: 10px !important;
  margin-top: 5%;
  margin-bottom: 5%;
}
.border_address {
  border-radius: 5px;
  border: 0.5px solid #828282;
  border-style: dashed;
  button {
    --background: rgba(254, 27, 20, 0.07);
    --border-radius: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    --color: rgba(254, 82, 77, 1);
  }
  .image_holder {
    position: relative;
    display: inline-block;
    .imag_prev {
      border-radius: 20px;
      width: 100px;
      height: 100px;
    }
    .imag_icon {
      zoom: 1.5;
      position: absolute;
      top: calc(10% - 10px);
      right: calc(10% - 10px);
    }
  }
  .ion-text-wrap {
    color: #828282;
    width: min-content;
  }
}
.textarea_top {
  height: 150px !important;
  ::placeholder {
    font-size: 12px !important;
  }
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding-left: 10px !important;
  margin-bottom: 6%;
}
.label_text_policy_number {
  color: #201e1e !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  text-transform: capitalize;
  margin-top: 10% !important;
}
.form_1 {
  margin-inline: 20px;

  .what_happen {
    margin-top: 20px;
    margin-bottom: 20px;
    .textarea {
      display: flex;
      margin-top: 2%;
      padding-left: 5px;
      height: 1000 !important;
      margin-bottom: 6%;
    }
  }
  .record {
    margin-top: 20px;
  }
  .upload_scene {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
  }
}
.next_button {
  margin-top: 10%;
  margin-bottom: 50px;
  border-radius: 10px;
  --background: #ffefee !important;
  color: #fe524d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form_2 {
  margin-inline: 20px;
  .address {
    margin-top: 20px;
  }
  .upload_location {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;

      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
  }
}

.form_3 {
  margin-inline: 20px;
  ion-input {
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    padding-left: 10px !important;
  }
}

.form_4 {
  margin-inline: 20px;

  .upload_img {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;

      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
}

.form_5 {
  margin-inline: 20px;
  .upload_police_report {
    .border {
      border-radius: 5px;
      border: 0.5px #828282;
      border-style: dashed;

      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
  .upload_witness_id {
    .border {
      border-radius: 5px;
      border: 0.5px #828282;
      border-style: dashed;

      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
}
.fifth_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-bottom: 6%;
}
.ninth_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-bottom: 6%;
  margin-top: 10%;
}
.tenth_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-top: 10%;
}
.sixth_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}
.add_audio {
  zoom: 1.25;
  color: #fe524d;
}
.seventh_label {
  position: relative;
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin-bottom: 10px !important;
}
.eight_label {
  position: relative;
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin-bottom: 10% !important;
}

.border_address_damage {
  border-radius: 5px;
  border-style: dashed;
  border-color: #828282;
  border-width: 1px;
  margin-top: 2% !important;
  margin-bottom: 5% !important;
  button {
    --background: rgba(254, 27, 20, 0.07);
    --border-radius: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    --color: rgba(254, 82, 77, 1);
  }
  .image_holder_damage {
    position: relative;
    display: inline-block;
    --padding: 0px !important;
    .imag_prev {
      border-radius: 20px;
      width: 100px;
      height: 100px;
    }
    .imag_icon {
      zoom: 1.5;
      position: absolute;
      top: calc(10% - 10px);
      right: calc(10% - 10px);
    }
  }
  .ion-text-wrap {
    color: #828282;
    width: min-content;
  }
}

.add_image_damage {
  justify-content: center;
  align-items: center;
  --border-radius: 50px;
  color: #fe524d;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  --background: rgba(254, 27, 20, 0.07) !important;
  --background-hover: rgba(254, 27, 20, 0.07) !important;
  --background-activated: rgba(254, 27, 20, 0.07) !important;
  --background-focused: rgba(254, 27, 20, 0.07) !important;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 30px;
  --padding-end: 30px;
  margin-bottom: 5%;
}
.wrap-damage {
  color: #828282 !important;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
}
.involved_parties {
  margin-top: 3% !important;
  margin-bottom: 3%;
}
.involved_parties_button {
  color: #fe524d;
  font-family: Poppins;
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  float: left;
  margin-bottom: 4%;
}
.other_parties_button {
  color: #fe524d;
  font-family: Poppins;
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  width: 100%;
}
.sixth_two_label {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}
.input_sixth_two {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  outline: 0 !important;
}
.police_number_header {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin-top: 30%;
}
.name_of_party {
  color: #201e1e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin-bottom: 13% !important;
}
.party_gap {
  height: 10px !important;
}
.involved_parties {
  .form-control {
    margin-top: 3px !important;
    margin-bottom: 5px !important;
  }
}
.label_other_vehicle {
  width: 80% !important;
  color: #201e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 24.3px */
  margin-top: 10px;
}
.delete_button {
  color: #fe524d !important;
  --background: #ffffff !important;
  margin-top: -1%;
  float: right;
}
