

.stepper {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: 20px;
}

.header {
  display: flex;
  orientation: vertical;
  --background: #ffffff;
}
.lang-sel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.grey-line{
  background:rgb(196, 196, 196,0.3) ;
  height:.1%;
  width:80%;
  align-self: center;
  margin-left: 10%;
}


.record_audio {
  color: #828282;
  border-radius: 5px;
  border: 0.5px solid #828282;
}
.stepperr_title {
  color: #201e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 27px */
  font-family: Poppins;
}
.black-line{
  --ion-background-color-rgb:rgba(7, 7, 7, 0.7) !important;
  height:30% !important;
  width:80%;
  align-self: center;
  margin-top: 10%;

}
.label_text{
  width: 80% !important;
}

.form_1 {
  margin-inline: 20px;

  .what_happen {
    margin-top: 20px;
    margin-bottom: 20px;
    .textarea {
      margin-top: 10px;
    }
  }
  .record {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .upload_scene {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      ion-button {
        --background: rgba(254, 27, 20, 0.07);
        --border-radius: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 20px;
        --color: rgba(254, 82, 77, 1);
      }
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }

    .add_image {
      font-size: medium;
    }
  }
  .next_button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.form_2 {
  margin-inline: 20px;

  .address {
    margin-top: 20px;
    margin-bottom: 20px;
    .location {
      margin-top: 10px;
      border-radius: 5px;
      border: 0.5px solid #828282;
    }
  }
  .upload_location {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      ion-button {
        --background: rgba(254, 27, 20, 0.07);
        --border-radius: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 20px;
        --color: rgba(254, 82, 77, 1);
      }
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
  .next_button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.form_3 {
  margin-inline: 20px;
}

.form_4 {
  margin-inline: 20px;

  .upload_img {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      ion-button {
        --background: rgba(254, 27, 20, 0.07);
        --border-radius: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 20px;
        --color: rgba(254, 82, 77, 1);
      }
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
}

.form_5 {
  margin-inline: 20px;
  .upload_police_report {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      ion-button {
        --background: rgba(254, 27, 20, 0.07);
        --border-radius: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 20px;
        --color: rgba(254, 82, 77, 1);
      }
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
  .upload_witness_id {
    .border {
      border-radius: 5px;
      border: 0.5px solid #828282;
      border-style: dashed;
      ion-button {
        --background: rgba(254, 27, 20, 0.07);
        --border-radius: 20px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-start: 20px;
        --padding-end: 20px;
        --color: rgba(254, 82, 77, 1);
      }
      .image_holder {
        position: relative;
        display: inline-block;
        .imag_prev {
          padding: 5px;
          border-radius: 20px;
          width: 100px;
          height: 100px;
        }
        .imag_icon {
          zoom: 1.5;
          position: absolute;
          top: calc(10% - 10px);
          right: calc(10% - 10px);
        }
      }
      .ion-text-wrap {
        color: #828282;
        width: min-content;
      }
    }
    .add_image {
      font-size: medium;
    }
  }
}
