<ion-header >
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/dashboard/form"></ion-back-button>

      <div class="location">
        <ion-button class="button_loc" size="small" fill="clear"  *ngIf="drag"  (click)="cuuuuuu()">
          <ion-icon class="button_loc" size="small" name="locate-outline"></ion-icon>        
        </ion-button>
        <ion-button class="button_loc" size="small" fill="clear" *ngIf="drag"  (click)="getLocation()">
          Use this location
        </ion-button>
          <ion-button class="button_loc" size="small" fill="clear" *ngIf="!drag" (click)="navigate()">
            Use current location
          </ion-button>
         

      </div>


  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="gmap">
    <capacitor-google-map #map></capacitor-google-map>
  </div>
</ion-content>