<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{selected}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>
<ion-content>
  <ion-row style="width: max-content" class="avatar">
    <ion-col>
      <ion-avatar>
        <img *ngIf="imageData.base64 !== '' " src="data:'{{imageData.name}}';base64,{{imageData.base64}}"  alt=""/>
        <img *ngIf="imageData.base64 === '' " src="assets/profile_pic.png" alt="assets/user.png" />

      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-button class="change" shape="round" type="button" size="small" (click)="openGallery()" translate>profile.change</ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="remove" shape="round" type="button" size="small" (click)="removeImage()"translate>profile.remove</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="form">
    <ion-label class="page_header" translate>profile.profile_header</ion-label>


    <br>

    <ion-label class="profile_header_one" translate>profile.label_name</ion-label>

    <ion-input [(ngModel)]="name" [readonly]="!isEdit" type="name" translate></ion-input>

    <ion-label class="profile_headers" translate>profile.label_number</ion-label>

    <ion-input [(ngModel)]="phone" [readonly]="!isEdit" type="Number"></ion-input>

    <ion-label class="profile_headers" translate>profile.label_number</ion-label>

    <ion-input [(ngModel)]="email"  [readonly]="!isEdit" type="Email" ></ion-input>

    <ion-label class="profile_headers" translate>profile.label_policy_number</ion-label>

    <ion-input [(ngModel)]="policyNo" [readonly]="!isEdit" type=""></ion-input>

    <ion-button *ngIf="!isEdit " class="submit"  shape="round" expand="block" (click)="update()" translate>profile.edit</ion-button>

    <ion-button *ngIf="isEdit " class="submit" shape="round" expand="block" (click)="set()" translate>profile.submit</ion-button>
  </div>
</ion-content>
