<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between">
      <ion-col size="7.5" class="logo"><img class="logo" src="assets/cpr_logo.png" /></ion-col>
      <ion-col size="3" class="lang-sel"><ion-select class="holder" [compareWith]="compareWith"
          value="{{languageService.selectedLanguage}}" placeholder="Language" (ionChange)="ionChange($event)"
          interface="popover">
          <ion-select-option *ngFor="let lang of languageList" [value]="lang.code">{{lang.title}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>
<ion-content>
  <ion-row style="width: max-content" class="avatar">
    <ion-col>
      <ion-avatar *ngIf="this.image.localPath.length === 0">
        <img src="assets/profile_pic.png" alt="assets/user.png" />
      </ion-avatar>
      <ion-avatar *ngIf="this.image.localPath !== '' ">
        <!-- <ion-img   *ngIf="this.image.path !== '' "  [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+file.data)"  alt="assets/user.png"/> -->

        <!-- <img   *ngIf="file.path !== '' "  [src]="convertPathToWebPath(file.path!)"  alt="assets/user.png"/> -->
        <ion-img [src]="image.localPath" alt="" />
        <!-- <ion-img *ngIf="imageData.base64 === '' " src="assets/profile_pic.png" alt="assets/user.png" /> -->

      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-button class="change" shape="round" type="button" size="small" (click)="openGallery()"
          translate>profile.change</ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="remove" shape="round" type="button" size="small" (click)="removeImage()"
          translate>profile.remove</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="form">
    <ion-label class="page_header" translate>profile.profile_header</ion-label>
    <br>

    <div class="profile_header_one">
      <ion-label translate>profile.label_name</ion-label>
    </div>
    <ion-input [(ngModel)]="name" [readonly]="!isEdit" type="name" translate></ion-input>
    <div class="profile_header_one">
      <ion-label translate>profile.label_number</ion-label>
    </div>
    <ion-input [maskito]="phoneMask" [maskitoElement]="maskPredicate"  [(ngModel)]="phone" [readonly]="!isEdit"></ion-input>
    <div class="profile_header_one">
      <ion-label translate>profile.label_email</ion-label>
    </div>
    <ion-input  [(ngModel)]="email" [readonly]="!isEdit" type="Email"></ion-input>
    <div class="profile_header_one">
      <ion-label translate>profile.label_policy_number</ion-label>
    </div>
    <ion-input  [(ngModel)]="company_name" [readonly]="!isEdit"></ion-input>

    <ion-button *ngIf="!isEdit " class="submit" shape="round" expand="block" (click)="update()"
      translate>profile.edit</ion-button>

    <ion-button *ngIf="isEdit " class="submit" shape="round" expand="block" (click)="set()"
      translate>profile.submit</ion-button>
  </div>
</ion-content>