<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-row class="ion-justify-content-between" >
      <ion-col size="7.5" class="logo"
        ><img class="logo" src="assets/cpr_logo.png"
      /></ion-col>
      <ion-col  size="3" class="lang-sel"
        ><ion-select
          class="holder"
          [compareWith]="compareWith"
          value="{{MyDefaultValue}}"
          placeholder="Language"
          (ionChange)="ionChange($event)"
          fill="outline"
          shape="round"
          interface="popover"
        >
          <ion-select-option
            *ngFor="let lang of languageList"
            [value]="lang.code"
            >{{lang.title}}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<div class="grey-line"></div>
<ion-content>
  <ion-row style="width: max-content" class="avatar">
    <ion-col>
      <ion-avatar>
        <img *ngIf="imageData.base64 !== '' " src="data:'{{imageData.name}}';base64,{{imageData.base64}}"  alt=""/>
        <img *ngIf="imageData.base64 === '' " src="assets/profile_pic.png" alt="assets/user.png" />

      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-button class="change" shape="round" size="small" (click)="openGallery()">Change</ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="remove" shape="round" size="small" (click)="removeImage()">Remove</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <div class="form">
    <ion-label style="font-family: 'poppins'; font-size: larger">Accout Information</ion-label>

    <ion-input [(ngModel)]="name" [readonly]="!isEdit" label="Name:" labelPlacement="floating" fill="outline"></ion-input>

    <ion-input [(ngModel)]="phone" [readonly]="!isEdit" label="Phone No:" labelPlacement="floating" fill="outline"></ion-input>

    <ion-input [(ngModel)]="email"  [readonly]="!isEdit" label="Email:" labelPlacement="floating" fill="outline"></ion-input>

    <ion-input [(ngModel)]="policyNo" [readonly]="!isEdit" label="Document" labelPlacement="floating" fill="outline"></ion-input>



    <ion-button *ngIf="!isEdit" class="submit"  shape="round" expand="block" (click)="update()"> Edit </ion-button>

    <ion-button *ngIf="isEdit" class="submit" shape="round" expand="block" (click)="set()" >Submit</ion-button>
  </div>
</ion-content>
