
<ion-header class="ion-no-border">
  <ion-toolbar class="header">  
        <ion-buttons (click)="gotoDashboard()">
          <ion-back-button defaultHref="" icon="assets/back_button.svg"></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="container">

  <div class="centered-element">
  <ion-icon name="checkmark-done-outline"></ion-icon><br>
  
  <ion-label>
    Your Claim has been submitted
  </ion-label>
  <ion-label>
    Our team will contact you soon.
  </ion-label>

  <ion-button  fill="outline" (click)="gotoDashboard()" >Dashboard</ion-button>
</div>
</ion-content>
