// .container {
//     display: flex;
//     position: relative;
//     justify-content: center;
//     align-items: center;
//     justify-content: center;
// }

// .centered-element {
//     margin: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     text-align: center;
//     transform: translate(-50%, -50%);
// }

// ion-icon {
//     font-size: 48px;
//     margin-bottom: 10px;
// }

// ion-label {
//     text-align: center;
//     font-family: Poppins;
//     font-weight: bold;
//     font-size: larger;
// }

// ion-button {
//     margin-top: 10%;
// }

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Optionally, to center vertically */
  }
  
  ion-icon {
    font-size: 100px;
    margin-bottom: 5%;
}