<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img src="assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll-content>
    <ion-card class="text">
      <ion-card-title>
        We are sorry for your accident and we are here to provide immediate
        assistance.
      </ion-card-title>
      <p></p>
      <ion-card-subtitle>
        Our qualified claim intake staff is available 24/7/365 to take your loss
        and begin the process towards resolution. Our goal is to get your life
        back to normal as quickly as possible. Please use one of the options
        below to provide us with as much information as possible so we can
        quickly and accurately manage your claim.
      </ion-card-subtitle>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="blue" href="/form">
            <img src="assets/submit_claim.svg" />
            <ion-card-header>
              <ion-card-title>
                Submit a Claim Online
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="orange" href="/tabs/dashboard/contact-us">
            <img src="assets/contact-us.svg" />
            <ion-card-header>
              <ion-card-title>
                Contact us to File a new Claim </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="orange">
            <img src="assets/download.svg" />
            <ion-card-header>
              <ion-card-title>
                Download and Print our Claims Form </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="blue" routerDirection="forward" [routerLink]="['/tabs/dashboard/important-tips']">
            <img src="assets/imp_tip.svg" />
            <ion-card-header>
              <ion-card-title>
                Important Tips </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-infinite-scroll-content>
</ion-content>